<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Chat</title>
    <link rel="stylesheet" href="css/chat.css">
</head>
<body>
    <div class="main">
        <div class="chat-history" id="chatHistory"></div>
        <div class="send-form">
            <form action="" id="sendForm">
                <input type="text" id="message" autocomplete="off" autofocus>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
    <script>
        const nickname = '<%= nickname %>'
        let lastMessageId = <%= lastMessageId %>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('sendForm').addEventListener('submit', (e) => {
                e.preventDefault()
                sendMessage()
            })

            poll()
        })

        function getMessageClass(hisMessage) {
            if (hisMessage.nickname === nickname) {
                return 'myself-msg'
            }
            if (hisMessage.nickname === 'System') {
                return 'system-msg'
            }
            return ''
        }

        async function poll() {
            const response = await fetch('/poll?lastMessageId=' + lastMessageId)
            // const response = await fetch('/poll')
            const data = await response.json()

            if (data.length > 0) {
                lastMessageId = data[data.length - 1].id;
                const chatHistoryElem = document.getElementById('chatHistory')

                const bottomGap = chatHistoryElem.scrollHeight - chatHistoryElem.scrollTop - chatHistoryElem.clientHeight

                chatHistoryElem.innerHTML += data
                .map(his => `<p class="${getMessageClass(his)}">${his.nickname}: ${his.message}</p>`)
                .join('')
                if (bottomGap < 5) {
                    chatHistoryElem.scrollTop = chatHistoryElem.scrollHeight
                }
            }
            setTimeout(poll, 400)
        }

        function sendMessage() {
            const message = document.getElementById('message').value
            if (message.trim() === '') {
                return
            }
            fetch('/send', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    messageContent: message,
                    nickname: '<%= nickname %>'
                })
            })
            document.getElementById('message').value = ''
        }
    </script>
</body>
</html>